/*******************************RESET******************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*******************************BACKGROUND GRADIENT ******************************/
.gradient-background {
  background: linear-gradient(300deg, #163172, #1e56a0, #d6e4f0);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/*******************************PAGE STYLE******************************/
.home {
  padding-top: 8rem;
  height: inherit;
  width: inherit;
  height: 100vh;
}

P {
  font-size: 1.5rem;
  color: #f6f6f6;
}

h1,
h2,
p {
  font-family: "Denk One", sans-serif;
  font-family: "Fredoka", sans-serif;
  font-family: "Instrument Sans", sans-serif;
  color: #f6f6f6;
}

.bgcolor-about {
  background-color: #163172;
}

/* ****************Features**************** */
img {
  padding-bottom: 2rem;
}

.icon {
  background-color: white;
  filter: grayscale();
}

.icon:hover {
  cursor: pointer;
  transition: filter 0.4s ease-in-out;
  filter: none;
}

#Features-h1 {
  color: #163172;
  font-weight: bolder;
  font-size: 3rem;
}

.features-h3 {
  color: #1e56a0;
  font-weight: bolder;
  margin-left: 2rem;
}

.features-p {
  color: #1e56a0;
  font-weight: bold;
  margin-top: 40px;
  text-align: center;
}

.features-p-2 {
  color: #1e56a0;
  font-weight: bold;
  margin-top: 80px;
  text-align: center;
}

/*
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/